@media(max-width:768px) {
  /* Section 1.1 Navbar hamburger menu*/
  .hamburger {
    display: block;

  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #141414ef;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .showcase-menu {
    margin: 0;
  }

  .showcase-menu h1{
    font-size: 1.5rem;
  }

  .showcase-menu h2{
    font-size: 2.2rem;
  }

  .showcase-menu h3 {
    font-size: 1.3rem;
  }
}