* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* Section 1.0 - Navbar */

header {
  background-color: rgb(0, 0, 0);
}

li {
  list-style: none
;}

a, h1, h2 {
  text-decoration: none;
  color: rgb(231, 231, 231);
}

.navbar {
  margin: 0 14%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-branding p {
  font-size: 1.5rem;
}

.nav-branding p i {
  color: dodgerblue;
  text-shadow: rgb(190, 221, 255) 1px 1px 5px;
}

.nav-link{
  transition: 0.3s ease;
}

.nav-link:hover{
  color: dodgerblue;
}
/* Section 1.1 - Navbar hamburger menu*/

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: dodgerblue;
}

/* Section 2.0 - Showcase */

#showcase {
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.showcase-menu {
  background-image: url(/img/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 4rem;
  margin: 0 15%;
  height: inherit;
  text-align: center;
}

.showcase-menu h1 {
  color: rgb(0, 162, 255);
  font-size: 2rem;
  text-shadow: black 1px 1px 5px;
}

.showcase-menu h2 {
  padding-top: 0.8rem;
  font-size: 3rem;
  text-shadow: black 1px 1px 4px;
}

.showcase-menu h3 {
  padding-top: 0.8rem;
  font-size: 1.7rem;
  text-shadow: black 1px 1px 4px;
  color: white;
}

.showcase-menu h4 {
  padding-top: 0.8rem;
  font-size: 1rem;
  text-shadow: black 1px 1px 4px;
  color: white;
}